# source https://pkgs.dev.azure.com/pas4/_packaging/PG-Nuget-Feed-3/nuget/v3/index.json username: "PAT" password: "qihfeqhkorsfjusx3ck5qlgtur2usha7xlxvflljfwej2jdvhhnq" authtype: "basic"
source https://tfsservice.bst-eng.com/tfs/OT1TFS/_packaging/BVMS-Eval/nuget/v3/index.json

nuget Newtonsoft.Json